<h1><%= @society.title %></h1>
<p id="notice"><%= notice %></p>
<% if @society.society_image.attached? %>
  <%= image_tag @society.society_image, alt: "ソサエティ画像", size:'200x200' %>
<% else %>
  <%= image_tag "no-image.png", size: '200x200' %>
<% end %>
<%=@society.introduction %>

[オーナー]
<%= @society.owner.name %>

<% if user_signed_in? %>
[参加ボタンなど]
  <% if @society.user_societies.exists?(user_id: current_user.id) %>
    <% if current_user.id != @society.owner_id %>
      <%= link_to "脱退する",  society_membership_path(@society), method: :delete %>
    <% end %>
  <% else %>
    <%= link_to "参加する", society_membership_path(@society), method: :post%>
  <% end %>


<%# <%= render "favorites/btn", society: @society %> 

[いいねボタン]
  <% if @society.favorited_by?(current_user) %>
    <%= link_to society_favorites_path(@society), method: :delete do %>
      <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
      <%= @society.favorites.count %> いいね
    <% end %>
  <% else %>
    <%= link_to society_favorites_path(@society), method: :post do %>
      <i class="fas fa-heart" aria-hidden="true"></i>
      <%= @society.favorites.count %> いいね
    <% end %>
  <% end %>
<% end %>