<%= link_to "ソサエティ一覧へ戻る", root_path %>
<p id="notice"><%= notice %></p>
<h1><%= @society.title.truncate(20) %></h1>
<div class="row">
  <div class="col-3">
    <% if @society.society_image.attached? %> 
      <%= image_tag @society.society_image, alt: "ソサエティ画像", size:'200x200' %>
     <% else %> 
       <%= image_tag "no_image.jpg", size: '200x200' %> 
     <% end %> 
  </div>
  <div class="col-7 mt-3 overflow-auto" style="height: 250px;">
    <%=safe_join(@society.introduction.split("\n"),tag(:br))%>
    <%# <%=@society.introduction %> 
  </div>

  <div class="col-2">
    <% if user_signed_in? %>
      <% if @society.favorited_by?(current_user) %>
        <%= link_to society_favorites_path(@society),  style: "text-decoration:none;",   method: :delete do %>
          <p style="font-size:30px;">
            <i class="fa-solid fa-bookmark" style="color: orange; font-size:50px;"></i>
        <% end %>
            <%= @society.favorites.count %>
            </p>
      <% else %>
        <%= link_to society_favorites_path(@society), style: "text-decoration:none;", method: :post do %>
        <p style="font-size:30px;">
          <i class="fa-regular fa-bookmark" style="font-size:50px;"></i>
        <% end %>
          <%= @society.favorites.count %>
        </p> 
      <% end %>

      <% if current_user == @society.owner %>
        <p>
          <%= link_to "編集", edit_society_path(@society.id), class: "btn btn-warning" %>
          <%= link_to "削除", society_path(@society.id), method: :delete, data: { confirm: 'メッセージ履歴なども全て削除されます。本当にソサエティを削除しますか?' },  class: "btn btn-danger" %>
        </p>
      <% end %>
      <% if @society.user_societies.exists?(user_id: current_user.id) %>
        <p>
        <% if current_user.id != @society.owner_id %>
          <%= link_to "脱退する",  society_membership_path(@society), method: :delete, data: { confirm: '本当に脱退しますか?' }, class: "btn btn-secondary"  %>
        <% end %>
      <% else %>
        <%= link_to "参加する", society_membership_path(@society), method: :post%>
      <% end %>
        </p>
    <% end %>
  </div>
</div>

<div class="row">
  <% if user_signed_in? %>
    <%= link_to "スケジュールを確認", society_schedules_path(@society.id), class: "btn btn-outline-info mb-2 ml-5" %>
  <% end %>
</div>

<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-10" style= "height: 100%;">
      <div style="height: 400px;" >
        <div class="d-flex flex-column-reverse align-items-stretch flex-shrink-0 bg-body-tertiary h-50 overflow-auto" style="min-height: 400px;">
          <div class="list-group list-group-flush border-bottom scrollarea">
            <% @society.society_comments.each do |society_comment| %>
              <div class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <div class="d-flex w-25  justify-content-between">
                    <%= image_tag society_comment.user.get_profile_image(100,100) %>
                    <strong class="align-middle"><%= society_comment.user.name %></strong>
                  </div>
                  <small><%= society_comment.created_at.to_s(:datetime_jp) %></small>
                </div>
                <% if society_comment.society_comment_image.attached? %> 
                  <%= image_tag society_comment.society_comment_image, alt: "ソサエティコメント画像", size:'200x200' %>
                <% end %> 
                <div class="col-10 mb-1 small">
                  <%= society_comment.comment %>
                  <% if society_comment.latitude != 0 || society_comment.longitude != 0 %>
                    <div class="d-flex justify-content-end">
                    <%= link_to '地図情報', society_comment_map_path(@society, society_comment), class: "pull-right" %>
                    </div>
                  <% end %>
                </div>
                <% if society_comment.user == current_user %>
                    <div class="d-flex justify-content-end">
                    <%= link_to "削除", society_society_comment_path(@society, society_comment), method: :delete, class: "btn btn-sm btn-danger float-end" %>
                    </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="form">
        <%= form_with model: [@society, @society_comment] do |f| %>
          <%= f.text_area :comment, rows:'4', placeholder: "#{@society.title}へメッセージを送信", class: "form-control my-2" %>
          <%= f.file_field :society_comment_image, accept: "image/*" %>
          <div class="tag-area" id="tag-area">
          </div>
          <button class="add-form-btn btn btn-success" id="add-form-btn" type="button">位置を追加</button>
          <%= f.submit "送信", class: "btn btn-primary my-2" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2"  style="min-height: 400px; ">

      <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary h-50 overflow-auto" style="min-height: 400px; ">
        <div class="list-group list-group-flush border-bottom scrollarea">
          <strong style="color: mediumturquoise;">オーナー</strong>
          <div class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
            <%= image_tag @society.owner.get_profile_image(70,70) %>
            <strong class="mb-1"><%= @society.owner.name %></strong>
          </div>
          <% if @users_without_owner.blank? %>
            オーナー以外で参加しているメンバーはまだいません...
          <% else %>
          <strong style="color: peachpuff;">メンバー</strong>
            <% @users_without_owner.each do |user| %>
              <div class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                <%= image_tag user.get_profile_image(70,70) %>
                <strong class="mb-1"><%= user.name %></strong>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', () => {
  console.log(document.getElementById('add-form-btn'));
  });
</script>


<%# 地図機能のscript jsファイルの読み込みに不具合があったためこちらに記載 %>
<% if user_signed_in? %>
  <script>
  $(function(){
    const maxForms = 1; // 最大フォーム数

    function buildField(index) {  
      const html = `
                    <input placeholder="郵便番号(半角数字 ハイフンなし)" id="zipcode${index}" class="form-control my-2" type="text" maxlength="7" pattern="^[a-zA-Z0-9]+$" name="society_comment[zipcode]">
                    <input placeholder="住所" id="address${index}" class="form-control my-2" type="text" value="" name="society_comment[address]">
                    `;
      return html;
    }
    
    $(".add-form-btn").on("click", function() { 
      let newIndex = new Date().getTime(); 
      $(".tag-area").append(buildField(newIndex)); 
      
      if($(".tag-area").children().length >= maxForms) {
        $(".add-form-btn").hide(); // フォームの追加が最大数に達した場合、追加ボタンを非表示にする
      }
      
      jpostal(`#zipcode${newIndex}`); 
    });

    function jpostal(zipcodeId) {
      let addressId = `#address${zipcodeId.slice(8)}`;
      let addressConfig = {};
      addressConfig[addressId] = '%3%4%5';

      $(zipcodeId).jpostal({
        postcode : [zipcodeId],
        address : addressConfig
      });
    }

    $(document).on("turbolinks:load", function() {
      jpostal('#zipcode'); 
    });
  });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
<% end %>