<h1><%= @society.title %></h1>
<p id="notice"><%= notice %></p>
<% if @society.society_image.attached? %>
  <%= image_tag @society.society_image, alt: "ソサエティ画像", size:'200x200' %>
<% else %>
  <%= image_tag "no-image.png", size: '200x200' %>
<% end %>
<%=@society.introduction %>

オーナー
<%= @society.owner.name %>

編集・削除ボタン
<% if current_user == @society.owner %>
  <%= link_to "編集", edit_society_path(@society.id) %>
  <%= link_to "削除", society_path(@society.id), method: :delete, data: { confirm: 'メッセージ履歴なども全て削除されます。本当にソサエティを削除しますか?' }  %>
<% end %>

メンバー
<% if @users_without_owner.blank? %>
  オーナー以外で参加しているメンバーはまだいません...
<% else %>
  <% @society.users.each do |user| %>
    <%= user.name %>
  <% end %>
<% end %>

<% if user_signed_in? %>
[参加ボタンなど]
  <% if @society.user_societies.exists?(user_id: current_user.id) %>
    <% if current_user.id != @society.owner_id %>
      <%= link_to "脱退する",  society_membership_path(@society), method: :delete, data: { confirm: '本当に脱退しますか?' }  %>
    <% end %>
  <% else %>
    <%= link_to "参加する", society_membership_path(@society), method: :post%>
  <% end %>


<%# <%= render "favorites/btn", society: @society %> 

[いいねボタン]
  <% if @society.favorited_by?(current_user) %>
    <%= link_to society_favorites_path(@society), method: :delete do %>
      <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
      <%= @society.favorites.count %> いいね
    <% end %>
  <% else %>
    <%= link_to society_favorites_path(@society), method: :post do %>
      <i class="fas fa-heart" aria-hidden="true"></i>
      <%= @society.favorites.count %> いいね
    <% end %>
  <% end %>

  [カレンダー]
 <%= link_to "カレンダー", society_schedules_path(@society.id) %>



  [コメントフォーム]
  <%= form_with model: [@society, @society_comment] do |f| %>
    <%= f.text_area :comment, rows:'5', placeholder: "ソサエティーへのメッセージ", class: "w-100" %>
    <%# <%= f.text_field :address, class: "form-control", placeholder: "住所" %> 
    <%# 地図機能実装目処がつくまで保留 %>
    <%= f.submit "送信" %>
  <% end %>
<% end %>

[コメント一覧]
<% @society.society_comments.each do |society_comment| %>
 <%= society_comment.comment %>
 投稿者[
 <%= society_comment.user.name %>
 ]
  <% if society_comment.user == current_user %>
    <%= link_to "Destroy", society_society_comment_path(@society, society_comment), method: :delete, class: "btn btn-sm btn-danger float-end" %>
  <% end %>
<% end %>

<%# <%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %> 
<%# 地図機能実装目処がつくまで保留 %>
<%# 7.住所の自動入力機能を追加する の部分でエラーが発生中！ %>