<h3>管理者Edit Society</h3>
<%= form_with model: @society, url: admin_society_path(@society.id), local: true do |f| %>
  <%= f.label :ソサエティ名 %>
  <%= f.text_field :title, placeholder: "新しいソサエティの名前を入力", class: 'form-control' %>

    <%= f.label :"紹介文", class: "mt-2" %>
    <%= f.text_area :introduction, placeholder: "ソサエティを紹介する素敵な文章を考えましょう！", class: 'form-control', size: "50x15" %>

    <p class="mt-2 mb-2 ">変更前のソサエティ画像
      <% if @society.society_image.attached? %> 
        <%= image_tag @society.society_image, alt: "ソサエティ画像", size:'200x200' %>
      <% else %> 
        <%= image_tag "no_image.jpg", size: '200x200' %> 
      <% end %> 
    </p>
    <%= f.label :"ソサエティ画像", class: "mt-4" %>
    <%= f.file_field :society_image, class: "form-control-file" , accept: "image/*" %>

    <%= f.submit "変更を保存", class: 'btn btn-info mt-2 btn-lg' %>
<% end %>